{% extends 'base.html' %}

{% block content%}
<h1>Password Puzzle Solver</h1>
<form method='POST'>
	<div class='select_difficulty'>
		<input type='radio' id='easy' name='difficulty' value='1' checked='checked'>
		<label for='easy'>Easy</label>
		<input type='radio' id='medium' name='difficulty' value='2'>
		<label for='medium'>Medium</label>
		<input type='radio' id='hard' name='difficulty' value='3'>
		<label for='hard'>Hard</label>
	</div>
	<button class='play_btn'>Play</button>
</form>
{% endblock %}
