/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/* Retro Hacker Theme Styling */
body {
    background-color: #000;
    color: #33FF33;
    font-family: 'Share Tech Mono', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}