.container {
    border: 2px solid #10D023;
    padding: 30px;
    width: 95%;
    max-width: 1000px;
    background-color: #111;
    animation: glow 1.5s infinite alternate;
}

h1 {
    font-size: 3.75rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #10D023;
}

h2 {
    font-size: 2.75rem;
    margin-bottom: 10px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
	background-color: #10D023;
	color: #111;
}

.difficulty-section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
    margin-bottom: 30px;
}

.difficulty-btn {
    background-color: #111;
    color: #10D023;
    border: 2px solid #10D023;
	border-radius: 3px;
    font-size: 1.75rem;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.difficulty-btn:hover {
    box-shadow: 0 0 10px #10D023;
}

.play-btn {
    background-color: #10D023;
    color: #111;
    font-size: 2rem;
    padding: 15px 30px;
    border: 2px solid #10D023;
    cursor: pointer;
    transition: all 0.3s ease;
	text-align: center;
	border-radius: 3px;
}

.play-btn:hover {
    box-shadow: 0 0 20px #10D023;
}

/* Glowing effect */
@keyframes glow {
    0% { box-shadow: 0 0 10px #10D023, inset 0 0 10px #10D023; }
    100% { box-shadow: 0 0 50px #10D023, inset 0 0 20px #10D023; }
}